# general
.idea
*.log
*.debug
*~

# excluding latex-compilation-files
*.aux
*latexmk
*.fls
*.dvi
*.bbl
*.blg

# cnn: exclude runs and logs
src/cnn-text-classification-tf/runs/
# exclude (huge) word2vec word-embeddings
src/vectors.csv
